*
!*/
!/sample/input.csv
!/sample/pc.jpg
!/sample/residual.jpg
!/sample/img.jpg
!.gitignore
!.gitattributes
!README.md
!config.json
!interpolation.py
!preprocessor.py
!calcparam.py
!diffmodel.py
!fitting.py
!plotter.py