*
!*/
!/sample/input.csv
!/sample/pc.jpg
!/sample/residual.jpg
!/sample/img_bindeman1998.jpg
!/sample/img_nielsen2017.jpg
!/sample/img_mutch2022.jpg
!.gitignore
!.gitattributes
!README.md
!config.json
!wrapper_diff.ps1
!constants.py
!interpolation.py
!preprocessor.py
!calcparam.py
!diffmodel.py
!fitting.py
!plotter.py